<template>
    <q-card>
        <q-card-title class="bg-primary text-white">{{titulo}}</q-card-title>
        <q-card-actions class="hidden-print">
            <div class="row">
                <div class="col-md-12">
                    <q-btn icon="add" :label="$t('navbarNovo')" :title="$t('navbarNovo')" color="positive" @click="executar('criar')" v-if="bCriar && !bModoEdicao"/>
                    <q-btn icon="save" :label="$t('navbarSalvar')" :title="$t('navbarSalvar')" color="positive" @click="executar('salvar')" v-if="bModoEdicao"/>
                    <q-btn icon="cancel" :label="$t('navbarCancelar')" :title="$t('navbarCancelar')" color="negative" @click="executar('cancelar')" v-if="bModoEdicao"/>
                    <slot name="mais-botao"/>
                </div>
                <slot name="alert-message"/>
            </div>
        </q-card-actions>
        <q-card-main>
            <div class="row">
                <div v-for="(item,index) in this.tabelaColunas" :key="index" v-if="item.campoVisivel" :class="'q-px-xs col-md-'+item.tamanho">
                    <q-input v-model="dadoFilho[item.name]" :stack-label="item.label" :disable="!bModoEdicao"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 q-pt-sm">
                    <q-table :data="tabelaDados" :columns="tabelaColunas" :visible-columns="tabelaColunasVisiveis" row-key="id" :hide-bottom="true" :no-data-label="$t('tabelaNoDataLabel')" :pagination.sync="filhoPaginacao">
                        <q-tr slot="body" slot-scope="props" :props="props">
                            <q-td v-for="col in props.cols" :key="col.name" :props="props">
                                <span v-if="col.name=='acoes'" class="hidden-print">
                                    <q-btn icon="edit" :title="$t('navbarEditar')" color="positive" @click.native="executar('editar',props.row.id)" class="cursor-pointer" size="sm" v-if="bEditar && !bModoEdicao"/>
                                    <q-btn icon="delete" :title="$t('navbarExcluir')" color="negative" @click.native="executar('modalExcluir',props.row.id)" class="cursor-pointer" size="sm" v-if="bExcluir && !bModoEdicao"/>
                                </span>
                                <span v-else>{{col.value}}</span>
                            </q-td>
                        </q-tr>
                    </q-table>
                </div>
            </div>
            <q-modal v-model="ModalExcluirFilhoOpen" :content-css="{width:'350px',height:'250px'}">
                <q-modal-layout>
                    <q-toolbar slot="header">
                        <q-toolbar-title>{{this.$t('modalExcluir')}}</q-toolbar-title>
                        <q-btn flat round dense icon="close" @click.native="ModalExcluirFilhoOpen=false"/>
                    </q-toolbar>
                    <q-toolbar slot="footer">
                        <q-toolbar-title style="text-align:right;">
                            <q-btn @click="executar('excluir')" :label="$t('modalExcluirSim')" icon="check" color="positive" title="Sim"/>
                            <q-btn @click="executar('modalExcluirCancelar')" :label="$t('modalExcluirNao')" icon="clear" color="negative" title="Não"/>
                        </q-toolbar-title>
                    </q-toolbar>
                    <div class="layout-padding">
                        <div class="row">
                            <div class="col-md-12">{{this.$t('modalExcluirMsg')}}</div>
                        </div>
                    </div>
                </q-modal-layout>
            </q-modal>
        </q-card-main>
    </q-card>
</template>
<script>
    import { utilsCrud } from "./utils"

    export default {
        props: {
            titulo: {type:String,required:true},
            paiId: {required:true},
            foreignKey: {type:String,required:true},
            tabelaColunas: {type:Array,required:true},
            tabelaColunasVisiveis: {type:Array,required:false},
            storeState: {type:String,required:true},
            storeCarregarLista: {type:String,required:false},
            storeCarregar: {type:String,required:false},
            storeSalvar: {type:String,required:false},
            storeExcluir: {type:String,required:false},
            entidadeApi: {type:String,required:true},
            bCriar: {required:false},
            bEditar: {required:false},
            bExcluir: {required:false}
        },
        mixins: [utilsCrud],
        data() {
            return {
                dadoFilho: {},
                tabelaDados: [],
                excluirFilhoId: '',
                ModalExcluirFilhoOpen: false,
                config: {
                    paiId: '',
                    storeCarregarLista: '',
                    storeCarregar: '',
                    storeExcluir: ''
                },
                bModoEdicao: false,
                filhoPaginacao: {page:1,rowsPerPage:0}
            }
        },
        methods: {
            atualizarDados() {
                var a = this.$store.state.dados[`${this.storeState}`]
                this.tabelaDados = []
                for (var id in a)
                    this.tabelaDados.push(a[id])
            },
            async executar(nome,id) {
                if (nome==="listar") {
                    this.limpar()
                    var response = await this.$store.dispatch(`dados/${this.config.storeCarregarLista}`,{entidadeApi:this.entidadeApi,paiId:this.paiId,foreignKey:this.foreignKey,filterCount:false})
                    this.$store.commit(response.storeCommit,{storeState:this.config.storeState,itens:response.body})
                    this.mostrarMsgErro(response)
                    this.atualizarDados()
                }
                else if (nome==="criar") {
                    this.editMode()
                    this.dadoFilho = {}
                }
                else if (nome==="editar") {
                    this.editMode()
                    var response = await this.$store.dispatch(`dados/${this.config.storeCarregar}`,{entidadeApi:this.entidadeApi,id:id})
                    this.$store.commit(response.storeCommit,{storeState:this.config.storeState,item:response.body})
                    this.mostrarMsgErro(response)
                    this.dadoFilho = this.$store.state.dados[`${this.storeState}`][id]
                }
                else if (nome==="modalExcluir") {
                    this.limpar()
                    this.excluirFilhoId = id
                    this.ModalExcluirFilhoOpen = true
                }
                else if (nome==="excluir") {
                    var response = await this.$store.dispatch(`dados/${this.config.storeExcluir}`,{entidadeApi:this.entidadeApi,id:this.excluirFilhoId})
                    this.mostrarMsgErro(response)
                    this.ModalExcluirFilhoOpen = false
                    this.executar('listar')
                }
                else if (nome==="salvar") {
                    var validado = true
                    await this.$emit('validarFilho',this.dadoFilho,(v)=>{validado = v})
                    if (validado===true) {
                        this.dadoFilho[`${this.foreignKey}`] = this.paiId
                        var response = await this.$store.dispatch(`dados/${this.config.storeSalvar}`,{entidadeApi:this.config.entidadeApi,salvarTipo:(this.dadoFilho.id!==undefined ? 'update' : 'create'),dado:this.dadoFilho})
                        this.mostrarMsgErro(response)
                        if (response.status===200 && response.ok===true) {
                            this.limpar()
                            this.executar('listar')
                        }
                    }
                }
                else if (nome==="cancelar") {
                    this.limpar()
                }
            },
            editMode() {
                this.bModoEdicao = true
            },
            limpar() {
                this.$emit('limparValidarFilho')
                this.bModoEdicao = false
                this.dadoFilho = {}
            }
        },
        created() {
            this.config.storeCarregarLista = (this.storeCarregarLista===undefined || this.storeCarregarLista==='') ? 'carregarListaCrudPadrao' : this.storeCarregarLista
            this.config.storeCarregar = (this.storeCarregar===undefined || this.storeCarregar==='') ? 'carregarCrudPadrao' : this.storeCarregar
            this.config.storeSalvar = (this.storeSalvar===undefined || this.storeSalvar==='') ? 'salvarCrudPadrao' : this.storeSalvar
            this.config.storeExcluir = (this.storeExcluir===undefined || this.storeExcluir==='') ? 'excluirCrudPadrao' : this.storeExcluir
        },
        watch: {
            'paiId': function() {
                this.executar('listar')
            }
        }
    }
</script>