<template>
    <q-modal v-model="modalGaleriaOpen" :no-backdrop-dismiss="true" maximized @show="galeriaShow()" @hide="fecharGaleria()" id="modal-galeria">
        <q-modal-layout>
            <q-toolbar slot="header">
                <q-toolbar-title>{{this.$t('galeriaMax')}}{{this.tituloPaginaGaleria}}</q-toolbar-title>
                <q-btn flat round dense icon="close" @click.native="fecharGaleria()"/>
            </q-toolbar>
            <div class="layout-padding no-margin no-padding">
                <div class="flex flex-center items-center" v-for="(item,index) in lista" :key="index" :data-idx="index" v-show="index===idxAtual" :title="formatarDataHora(item.dateCreated)" v-touch-swipe.horizontal="moveSwipe">
                    <img :id="'galeria_item_img_'+item.id" :src="item.srcFull" class="img-galeria responsive" v-if="item.tipo==='I'"/>
                    <video crossorigin="anonymous" :id="'galeria_item_video_'+item.id" class="video-galeria" :style="'height:'+aheight+'px;width:100vw;'" controls loop v-else><source :src="item.srcFull"/></video>
                </div>
                <q-page-sticky position="left" :offset="[5,0]" style="bottom:0px;transform:none;">
                    <q-btn round color="light" @click="moveSlide(-1)" icon="keyboard_arrow_left"/>
                </q-page-sticky>
                <q-page-sticky position="right" :offset="[5,0]" style="bottom:0px;transform:none;">
                    <q-btn round color="light" @click="moveSlide(1)" icon="keyboard_arrow_right"/>
                </q-page-sticky>
                <q-page-sticky position="bottom" :offset="[0,60]" v-if="botaoFoto===true && isVideo===true">
                    <q-btn round color="primary" @click="tirarFoto()" icon="add_a_photo"/>
                </q-page-sticky>
            </div>
        </q-modal-layout>
    </q-modal>
</template>
<script>
    import { utilsCrud } from './utils'
    export default {
        props: ['lista','botaoFoto'],
        mixins: [utilsCrud],
        data() {
            return {
                idxAtual: 0,
                modalGaleriaOpen: false,
                isVideo: false,
                aheight: 0
            }
        },
        computed: {
            tituloPaginaGaleria() {return this.$store.state.dados.tituloPaginaGaleria},
            isOpen() {return this.modalGaleriaOpen}
        },
        methods: {
            tirarFoto() {
                this.$emit("executar",'foto',this.idxAtual)
            },
            moveSwipe(evt) {
                if (evt.direction==='left') this.moveSlide(1)
                else this.moveSlide(-1)
            },
            moveSlide(i) {
                this.idxAtual += i
                if (this.idxAtual<0) this.idxAtual = 0
                if (this.idxAtual>this.lista.length-1) this.idxAtual = this.lista.length-1
                let item = this.lista[this.idxAtual]
                this.isVideo = item!==undefined && item.tipo==='V'
                this.fecharGaleriaVideo()
            },
            abrirGaleria(idx) {
                this.idxAtual = idx
                this.moveSlide(0)
                this.modalGaleriaOpen = true
            },
            fecharGaleria() {
                this.fecharGaleriaVideo()    
                this.modalGaleriaOpen = false
            },
            fecharGaleriaVideo() {
                var videos = document.getElementsByClassName('video-galeria')
                for (var j=0;j<videos.length;j++) videos[j].pause()
            },
            galeriaShow() {
                var h = (document.getElementById('tamanho-tela').clientHeight-50)+'px'
                var element = document.getElementById('modal-galeria').getElementsByClassName('layout-padding')[0]
                element.style.height = h
                for (var item of element.getElementsByClassName('q-touch')) item.style.height = h
                for (var item of element.getElementsByTagName('img')) item.style.maxHeight = h
            }
        },
        mounted() {
            this.$nextTick(function(){
                this.aheight = document.getElementById('tamanho-tela').clientHeight-50
            })
        }
    }
</script>
<style>
    #modal-galeria .layout-padding {
        background-color: #e6e2e2;
    }
    .video-galeria {
        background-color:black;
    }
</style>