<template>
    <q-card class="q-ma-md q-pt-sm">
        <q-card-actions>
            <div class="row">
                <div class="col-md-12">
                    <div class="row hidden-print">
                        <q-btn flat no-caps icon="list" :label="$t('navbarListar')" :title="$t('navbarListar')" color="primary" @click="executar('listar')" v-if="bListar"/>
                        <q-btn flat no-caps icon="add" :label="$t('navbarNovo')" :title="$t('navbarNovo')" color="primary" @click="executar('criar')" v-if="bCriar"/>
                        <q-btn flat no-caps icon="edit" :label="$t('navbarEditar')" :title="$t('navbarEditar')" color="primary" @click="executar('editar')" v-if="bEditar"/>
                        <q-btn flat no-caps icon="delete" :label="$t('navbarExcluir')" :title="$t('navbarExcluir')" color="primary" @click="executar('modalExcluir')" v-if="bExcluir"/>
                        <q-btn flat no-caps icon="save" :label="$t('navbarSalvar')" :title="$t('navbarSalvar')" color="positive" @click="executar('salvar')" v-if="bSalvar"/>
                        <q-btn flat no-caps icon="cancel" :label="$t('navbarCancelar')" :title="$t('navbarCancelar')" color="negative" @click="executar('cancelar')" v-if="bCancelar"/>
                        <q-btn flat no-caps icon="print" :label="$t('navbarImprimir')" :title="$t('navbarImprimir')" color="primary" @click="executar('imprimir')" v-if="bImprimir"/>
                        <q-btn flat no-caps icon="archive" :label="$t('navbarExportar')" :title="$t('navbarExportar')" color="primary" v-if="bExportarLabels">
                            <q-popover>
                                <q-list separator link>
                                    <q-item v-for="item in bExportarLabels" :key="item" v-close-overlay @click.native="executar('exportar',`${item}`)">{{item}}</q-item>
                                </q-list>
                            </q-popover>
                        </q-btn>
                        <slot name="mais-botao"/>
                        <!-- Modal Excluir -->
                        <q-modal v-model="bModalExcluirOpen" :content-css="{width:'350px',height:'250px'}">
                            <q-modal-layout>
                                <q-toolbar slot="header">
                                    <q-toolbar-title>{{this.$t('modalExcluir')}}</q-toolbar-title>
                                    <q-btn flat round dense icon="close" @click.native="executar('modalExcluirCancelar')"/>
                                </q-toolbar>
                                <q-toolbar slot="footer">
                                    <q-toolbar-title class="flex justify-around">
                                        <q-btn flat no-caps @click="executar('excluir')" :label="$t('modalExcluirSim')" icon="check" color="white" :title="$t('modalExcluirSim')"/>
                                        <q-btn flat no-caps @click="executar('modalExcluirCancelar')" :label="$t('modalExcluirNao')" icon="clear" color="white" :title="$t('modalExcluirNao')"/>
                                    </q-toolbar-title>
                                </q-toolbar>
                                <div class="layout-padding">
                                    <div class="row">
                                        <div class="col-md-12 text-center">{{this.$t('modalExcluirMsg')}}</div>
                                    </div>
                                </div>
                            </q-modal-layout>
                        </q-modal>
                    </div>
                </div>
                <slot name="alert-message"/>
            </div>
        </q-card-actions>
    </q-card>
</template>
<script>
    export default {
        props: ['bListar','bCriar','bEditar','bExcluir','bSalvar','bCancelar','bImprimir','bExportarLabels','bId','bModalExcluirOpen'],
        data() {
            return {}
        },
        methods: {
            executar(nome,obj) {
                this.$emit("executar",nome,obj===undefined ? this.bId : obj)
            }
        }
    }
</script>