<template>
    <q-card class="q-ma-md">
        <q-card-main>
            <div class="row">
                <q-table class="col-md-12" :title="titulo" :data="tabelaDados" :columns="tabelaColunas" row-key="id" :pagination="tabelaPaginacao" @update:pagination="valor => $emit('update:tabelaPaginacao',valor)" :rows-per-page-options="rowsPerPage" :no-data-label="$t('tabelaNoDataLabel')" :rows-per-page-label="$t('tabelaRowsPerPageLabel')" :pagination-label="paginacaoLabel" @request="request" :loading="tabelaLoading">
                    <q-tr slot="body" slot-scope="props" :props="props" :class="trClass ? trClass(props.row) : ''">
                        <q-td v-for="col in props.cols" :key="col.name" :props="props" :class="col.tdClasses" :style="col.tdStyle">
                            <span v-if="col.name==='acoes'">
                                <q-btn :round="$store.state.dados['isMobile']" icon="visibility" :title="$t('navbarAbrir')" color="primary" @click.native="selecionarDado(props.row.id)" class="cursor-pointer q-mr-sm" size="sm" v-if="bSelecionarDado"/>
                                <q-btn :round="$store.state.dados['isMobile']" icon="visibility" :title="$t('navbarVisualizar')" color="primary" @click.native="executar('show',props.row.id)" class="cursor-pointer q-mr-sm" size="sm" v-if="bShow"/>
                                <q-btn :round="$store.state.dados['isMobile']" icon="edit" :title="$t('navbarEditar')" color="primary" @click.native="executar('editar',props.row.id)" class="cursor-pointer q-mr-sm" size="sm" v-if="bEditar"/>
                                <q-btn :round="$store.state.dados['isMobile']" icon="delete" :title="$t('navbarExcluir')" color="primary" @click.native="executar('modalExcluir',props.row.id)" class="cursor-pointer q-mr-sm" size="sm" v-if="bExcluir"/>
                            </span>
                            <span v-else>{{buscarNome(col,props)}}</span>
                        </q-td>
                    </q-tr>
                </q-table>
            </div>
        </q-card-main>
    </q-card>
</template>
<script>
    import { utilsCrud } from "./utils"
    
    export default {
        props: ['titulo','tabelaDados','tabelaColunas','tabelaPaginacao','tabelaLoading','linhasPorPagina','bSelecionarDado','bShow','bEditar','bExcluir','trClass'],
        data() {
            return {}
        },
        mixins: [utilsCrud],
        computed: {
            rowsPerPage() {
                return this.linhasPorPagina || [10,25,50,100,0]
            }
        },
        methods: {
            paginacaoLabel(start,end,total) {
                return this.$t('tabelaPaginacaoLabel').replace('%',start).replace('%',end).replace('%',total)
            },
            request(obj) {
                this.tabelaPaginacao.sortBy = obj.pagination.sortBy
                this.tabelaPaginacao.descending = obj.pagination.descending
                this.tabelaPaginacao.page = obj.pagination.page
                this.tabelaPaginacao.rowsPerPage = obj.pagination.rowsPerPage
                this.$emit("executar",'listar',obj.pagination)
            },
            executar(nome,id) {
                this.$emit("executar",nome,id)
            },
            selecionarDado(id) {
                this.$emit("selecionarDado",id)
            },
            buscarNome(col,props) {
                var value = ''
                if (col.value!==undefined) {
                    value = col.value
                    if (col.name.indexOf('.')>-1) {
                        var campos = col.name.split('.')
                        campos.splice(0,1)
                        for (let campo of campos) {
                            value = value[campo]
                            if (value===undefined) {
                                value = ''
                                break
                            }
                        }
                    }
                }
                if (col.tipo!==undefined) {
                    if (col.tipo.nome==='Boolean') value = value===true ? 'Sim' : 'Não'
                    else if (col.tipo.nome==='Datetime') value = this.formatarDataHora(value)
                    else if (col.tipo.nome==='Date') value = this.formatarData(value)
                    else if (col.tipo.nome==='Time') value = this.formatarHora(value)
                    else if (col.tipo.nome==='Idade') value = this.formatarIdade(props.row[col.tipo.campo])
                    else if (col.tipo.nome==='Array') value = this.formatarArray(value,col.tipo.campo)
                    else if (col.tipo.nome==='Object') value = this.formatarObject(value,col.tipo.campo)
                    else if (col.tipo.nome==='Numerico') value = this.formatarNumerico(value,col.tipo.decimal)
                    else if (col.tipo.nome==='Concat') {
                        var value2 = ''
                        if (col.tipo.campo!==undefined) {
                            value2 = col.value
                            if (col.tipo.campo.indexOf('.')>-1) {
                                var campos = col.tipo.campo.split('.')
                                campos.splice(0,1)
                                for (let campo of campos) {
                                    value2 = value2[campo]
                                    if (value2===undefined) {
                                        value2 = ''
                                        break
                                    }
                                }
                            }
                        }
                        if (col.teste) {
                            if (props.row[col.teste.campo]===col.teste.valor)
                                value += (col.tipo.prefixo || '')+value2+(col.tipo.sufixo || '')
                        }
                        else value += (col.tipo.prefixo || '')+value2+(col.tipo.sufixo || '')
                    }
                }
                return value
            }
        },
        watch: {
            'tabelaPaginacao': function(pag) {
                this.$emit("executar",'listar',pag)
            }
        }
    }
</script>